.card {
	display: block;
	position: relative;
}

.image {
	display: block;
}

.caption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	font-family: var(--font-header);
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: var(--c-primary-3);
	text-shadow: 0 0 2pt var(--c-primary-1);
	text-align: center;
	mix-blend-mode: multiply;
}
