.nav {
	background-color: var(--component-bg);
}

.nav>ul {
	display: flex;
	list-style-type: none;
}

.nav :is(a, [aria-current=true]) {
	padding: 1em;
}

.nav a {
	display: block;
}

.nav li[aria-current=true] {
	color: var(--c-primary-3);
}
