.description {
	display: inherit;
	flex-direction: column;
	gap: 1rem;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
	font-family: var(--font-mono);
}

.description a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.description :is(p, ul) {
	position: relative;
	margin: 0;
	padding: 1rem;
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}

.description ul {
	padding-left: 1.5rem;
	line-height: 1.5;
}

.description input:enabled~label {
	cursor: pointer;
}

.description li:hover>input:enabled~label {
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

.code {
	font-weight: 700;
	font-family: var(--font-mono);
}
